doctype html
html
  head
    link(rel='stylesheet',href='/stylesheets/index.css')
  body
    div.container
      h1 Order Item
      form(action="/shop/cust/menu/bill",method="get")
        h4 id |\t Name    | Price | Quantity | total
        each item in billList
          p #{item.id} | #{item.name}  |   #{item.price}   |     #{item.quantity}    | #{item.total}
          br
        p #{totals}
        br
        input.btn(type="submit",name="ok",value="OK")
